@font-face {
    font-family: "Source Han Sans Medium";
    src: url("SourceHanSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "思源黑体 Medium";
    src: url("SourceHanSansSC-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Source Han Sans TC Medium";
    src: url("SourceHanSansTC-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Source Han Sans HC Medium";
    src: url("SourceHanSansHC-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Source Han Sans K Medium";
    src: url("SourceHanSansK-Medium.ttf") format("truetype");
}